.dashboard{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}
.dashboard img{
    margin-top: 150px;
}
.dashboard h1{
    text-align: center;
    width: 70%;
    font-size: 90px;
    font-weight: 600;
}
.dashboard h1 span{
    background: linear-gradient(270deg, #DF8908 10%, #B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.dashboard p{
    width: 50%;
    text-align: center;
    font-size: 24px;
    line-height: 40px;
}
.dashboard-container{
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
}
.dashboard-connect{
    padding: 15px 45px;
    border-radius: 50px;
    background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 100%);
    cursor: pointer;
}
.dashboard-resume{
    padding: 15px 45px;
    border-radius: 50px;
    border: 2px solid #FFF;
    cursor: pointer;
}
.dashboard-connect:hover{
    border: 2px solid white;
}
.dashboard-resume:hover{
    border-color: #B415FF;
}